<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NmapLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NmapLib.Properties.Settings>
            <setting name="HttpNmapServiceNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http-alt</string>
                        <string>http-proxy</string>
                        <string>caldav</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HttpsNmapServiceNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ssl|http</string>
                        <string>https-alt</string>
                        <string>https</string>
                    </ArrayOfString>
                </value>
            </setting>
        </NmapLib.Properties.Settings>
    </applicationSettings>
</configuration>