<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpBurp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpBurp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SharpBurp.Properties.Settings>
            <setting name="BurpUrl" serializeAs="String">
                <value>http://127.0.0.1:1337</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedScanConfiguration" serializeAs="String">
                <value />
            </setting>
            <setting name="ResourcePool" serializeAs="String">
                <value>Default resource pool</value>
            </setting>
        </SharpBurp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SharpBurp.Properties.Settings>
            <setting name="ScanConfigurations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Add all links to site map</string>
                        <string>Add requested item to site map</string>
                        <string>Audit checks - all except JavaScript analysis</string>
                        <string>Audit checks - all except time-based detection methods</string>
                        <string>Audit checks - critical issues only</string>
                        <string>Audit checks - extensions only</string>
                        <string>Audit checks - light active</string>
                        <string>Audit checks - medium active</string>
                        <string>Audit checks - passive</string>
                        <string>Audit coverage - maximum</string>
                        <string>Audit coverage - thorough</string>
                        <string>Crawl limit - 10 minutes</string>
                        <string>Crawl limit - 30 minutes</string>
                        <string>Crawl limit - 60 minutes</string>
                        <string>Crawl strategy - faster</string>
                        <string>Crawl strategy - fastest</string>
                        <string>Crawl strategy - more complete</string>
                        <string>Crawl strategy - most complete</string>
                        <string>HTTP Request Smuggling</string>
                        <string>Minimize false negatives</string>
                        <string>Minimize false positives</string>
                        <string>Never stop audit due to application errors</string>
                        <string>Never stop crawl due to application errors</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SharpBurp.Properties.Settings>
    </applicationSettings>
</configuration>